@page "/edit-product/{id:int}"

@using CRM.DTOs.ProducOUCRDTOs;
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;
@using CRM.AppWebBlazor.Data;

@if (isSuccess == false && isError == false)
{
    <h3>Modificar Cliente</h3>

    <EditForm Model="producto" OnValidSubmit="Edit">
        <DataAnnotationsValidator />

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="NombreOUCR">Nombre:</label>
                    <InputText class="form-control" @bind-Value="producto.NombreOUCR" />
                    <ValidationMessage For="()=> producto.NombreOUCR" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="DescripcionoOUCR">descripcion:</label>
                    <InputText class="form-control" @bind-Value="producto.DescripcionOUCR" />
                    <ValidationMessage For="()=> producto.DescripcionOUCR" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="PrecioOUCR">precio:</label>
                    <InputNumber class="form-control" @bind-Value="producto.PrecioOUCR" />
                    <ValidationMessage For="()=> producto.PrecioOUCR" />
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Modificar</button>
                <NavLink href="/product-list" class="btn btn-secondary">Cancelar</NavLink>
            </div>
        </div>
    </EditForm>
}
else if (isSuccess)
{
    producto = new EditProductDTO();
    isError = false;
    <p class="alert alert-success">producto se modifico con éxito.</p>
    <NavLink href="/product-list" class="btn btn-primary">Aceptar</NavLink>
}
else if (isError)
{
    <p class="alert alert-error">Sucedio un error al intentar modificar. o no ha realizado ninguna modificacion al registro actual</p>
    <NavLink href="/product-list" class="btn btn-primary">Aceptar</NavLink>
}

@code {
    [Parameter]
    public int Id { get; set; }

    // Inyección de dependencia de productoService para
    // acceder a los servicios relacionados con los clientes
    [Inject]
    ProductService productoService { get; set; }

    // Declaración e inicialización de un objeto "customer"
    //  para almacenar los detalles del cliente
    EditProductDTO producto = new EditProductDTO();

    // Declaración de variables booleanas para manejar el estado de éxito y error
    bool isSuccess = false;
    bool isError = false;

    // Método que se llama cuando se inicializa el componente
    protected override async Task OnInitializedAsync()
    {
        // Realiza una llamada asincrónica para obtener los
        // detalles del cliente por su Id
        var customerDetail = await productoService.GetById(Id);

        // Inicializa el objeto "customer" con los detalles del cliente obtenidos
        producto = new EditProductDTO(customerDetail);
    }

    // Método para editar el cliente
    private async Task Edit()
    {
        // Realiza una llamada asincrónica para editar la información del cliente
        int result = await productoService.Edit(producto);

        // Verifica si el resultado de la edición es diferente
        // de cero (éxito) o igual a cero (error)
        if (result != 0)
            isSuccess = true;
        else
            isError = true;
    }
}
